<div class="h-full flex flex-col items-center justify-center gap-4 p-8">
  <app-logo class="fixed top-8 left-8" />

  @if (creatingGame) {
    <app-loading-spinner class="h-16 w-16" />
    <p class="text-white font-bold text-xl italic mt-6">Creating Game...</p>
  } @else if (searchResults.length === 0) {
    <h1 class="text-white text-3xl font-bold italic">Find your City</h1>
    <div class="relative w-full max-w-80">
      <input
        [formControl]="formControl"
        placeholder="Enter a city name"
        class="h-10 bg-gray-100 w-full px-9 focus:outline-none text-center rounded-[1.25rem] focus:placeholder:invisible shadow-lg"
      />

      @if (formControl.value) {
        <button
          (click)="clearSearch()"
          class="absolute right-0 top-0 h-5 mt-2.5 mr-3"
        >
          <img src="x-icon.svg" alt="Clear Search" class="h-full" />
        </button>
      }
    </div>
    <app-button (clicked)="search()" class="block w-36" [loading]="loading">
      Search
    </app-button>
  } @else {
    <h1 class="text-white text-3xl font-bold italic">Select a City</h1>
    <div class="flex flex-col w-full max-w-96 mb-2">
      @for (city of searchResults; track city.osmId) {
        <button
          (click)="selectCity(city)"
          class="h-10 px-4 truncate w-full text-white flex items-center justify-between py-4 hover:bg-blue-950"
        >
          <span>{{ city.name }}</span>
          <img src="/arrow-right.svg" alt="Select City" class="h-8" />
        </button>
      }
    </div>

    <app-secondary-button (clicked)="searchResults = []"
      >Search Again</app-secondary-button
    >
  }
  @if (errorMessage) {
    <div class="text-red-500 font-bold text-xl">{{ errorMessage }}</div>
  }
</div>
